{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap y css -->
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Document</title>
    <script>
        const botonInicio = () => {
            location.href = "/";
        }
    </script>
</head>
<body>
    <div class="row">
        <div class="container-fluid">

            {% if r %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <h5 align="center">{{ r }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}

            {% if r2 %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <h5 align="center">{{ r2 }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}

            <form action="/registrar" id="form1" method="post">
                {% csrf_token %}
                <div class="card container shadow p-3 mb-5 bg-white rounded" id="cardForm">
                    <div class="card-body">
                        <h3 class="card-title"><strong>REGISTRAR ALUMNO</strong></h3>
                        <br>
                        <div class="col" id="campos">
                            <div class="col-3" id="campo1">
                                <label for="exampleFormControlInput1" class="form-label"><strong>Rut:</strong></label>
                                <input type="text" class="form-control" name="txtRut" maxlength="10" placeholder="11111111-1" required>
                            </div> 
                            <div class="col-3" id="campo2">
                                <label for="exampleFormControlInput1" class="form-label"><strong>Nombre:</strong></label>
                                <input type="text" class="form-control" name="txtNom" maxlength="50" required>
                            </div>
                            <div class="col-3" id="campo3">
                                <label for="exampleFormControlInput1" class="form-label"><strong>Apellidos:</strong></label>
                                <input type="text" class="form-control" name="txtApe" maxlength="50" required>
                            </div>
                        </div>

                        <div class="col" id="campos2">
                            <div class="col-3" id="campo1">
                                <P><strong>Sexo:</strong></P>
                                <div class="form-check form-check-inline" required>
                                    <input class="form-check-input" type="radio" name="opSex" id="inlineRadio1" value="Masculino">
                                    <label class="form-check-label" for="inlineRadio1">Masculino</label>
                                  </div>
                                  <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="opSex" id="inlineRadio2" value="Femenino">
                                    <label class="form-check-label" for="inlineRadio2">Femenino</label>
                                  </div>
                            </div> 
                            <div class="col-3" id="campo2">
                                <label for="exampleFormControlInput1" class="form-label"><strong>Curso:</strong></label>
                                <select class="form-select" aria-label="Default select example" name="cboCurso" required>
                                    <option selected>Seleccione una opción</option>
                                    <option value="1° Básico">1° Básico</option>
                                    <option value="2° Básico">2° Básico</option>
                                    <option value="3° Básico">3° Básico</option>
                                    <option value="4° Básico">4° Básico</option>
                                    <option value="5° Básico">5° Básico</option>
                                    <option value="6° Básico">6° Básico</option>
                                    <option value="7° Básico">7° Básico</option>
                                    <option value="8° Básico">8° Básico</option>
                                    <option value="1° Medio">1° Medio</option>
                                    <option value="2° Medio">2° Medio</option>
                                    <option value="3° Medio">3° Medio</option>
                                    <option value="4° Medio">4° Medio</option>
                                  </select>
                            </div>
                            <div class="col-3" id="campo3">
                                <label for="exampleFormControlInput1" class="form-label"><strong>Edad:</strong></label>
                                <input type="number" min="5" max="30" class="form-control" name="txteda" required>
                            </div>
                        </div>

                        <div class="col" id="campos2">
                            <div class="col-3" id="campo1">
                                <label for="exampleFormControlInput1" class="form-label"><strong>Ciudad:</strong></label>
                                <select class="form-select" aria-label="Default select example" name="cboCiu" required>
                                    <option selected>Seleccione una opción</option>
                                    <option value="Rancagua">Rancagua</option>
                                    <option value="San Fernando">San Fernando</option>
                                    <option value="Graneros">Graneros</option>
                                    <option value="Coltauco">Coltauco</option>
                                    <option value="San Vicente">San Vicente</option>
                                    <option value="Santa Cruz">Santa Cruz</option>
                                  </select>
                            </div> 
                            <div class="col-3" id="campo2">
                                <label for="exampleFormControlInput1" class="form-label"><strong>Comuna:</strong></label>
                                <input type="text" class="form-control" name="txtComu" required> 
                            </div>
                            <div class="col-3">
                                <div class="container-fluid" align="center">
                                    <input type="submit" class="btn btn-primary" name="btnReg" value="REGISTRAR" id="btnReg">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br><br>
                </div>
            </form>
            <div class="row">
                <div class="container" align="center">
                    <button type="button" onclick="botonInicio()" class="btn btn-primary"><strong>VOLVER AL INICIO</strong></button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</body>
</html>